@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color: #E8F9FD;">
    <h1 style="color: #06283D;">WE CODE</h1>
    <p class="lead">WE CODE c'est une ecole qui vous encadrez dans le developpement web . Vous offre des formations dans le Front web (HTML - JS/TY - CSS - BOOTSTRAP) et dans le Backednd web ( ASP.NET - JEE)....'</p>
    <button class="btn btn-default">@Html.ActionLink("Inscription Employeur", "Index", "Employes")</button>
</div>
<h1 class="text-center " style="color: #06283D; ">Front Web</h1>
<div class="row">
    <div class="col-md-4">
        <div class="col text-center"><h2 style="color: #1363DF; ">Html Css</h2>            <img src="~/logo/html.jpg" class="img-rounded " style="width:120px;" /></div>
        <p>
            Vous êtes au bon endroit ! Ce cours est LE cours à suivre si vous débutez complètement en programmation.
            Vous allez vous initier à la programmation avec des langages accessibles, faciles à apprendre, et incontournables du Web : HTML5 et CSS3..
        </p>
    </div>
    <div class="col-md-4">
        <div class="col text-center "><h2 style="color: #1363DF; ">JS / TS</h2>            <img src="~/logo/jsts.png" class="img-rounded " style="width:110px;" /></div>
        <p>
            Vous êtes au bon endroit ! Ce cours est LE cours à suivre si vous débutez complètement en programmation.
            Vous allez apprendre les languages de front web JavaScript et TypeScript et la diffrénce entre ces derniers : JS et TS..<br /><br />
        </p>
    </div>
    <div class="col-md-4">
        <div class="col text-center "><h2 style="color: #1363DF; ">Bootstrap</h2>            <img src="~/logo/bootstrap.png" class="img-rounded " style="width:55px;" /></div>
        <p>
            Vous êtes au bon endroit ! Ce cours est LE cours à suivre si vous débutez complètement en programmation.
            Vous allez apprendre Le framework Bootstrap est un framework CSS. La connaissance du CSS est donc un prérequis indispensable à l’utilisation de ce framework..
        </p>
    </div>
</div>
<h1 class="text-center " style="color: #06283D; "> Back Web</h1>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <div class="col text-center "><h2 style="color: #1363DF;">Asp.Net</h2>            <img src="~/logo/asp.png" class="img-rounded " style="width:70px;" /></div>
        <p>
            Vous êtes au bon endroit ! Ce cours est LE cours à suivre si vous débutez complètement en programmation.
            Vous allez apprendre ASP.NET est une infrastructure web gratuite permettant de créer de grands sites web et applications web à l’aide de HTML, CSS et JavaScript..<br /><br />
        </p>
    </div>
    <div class="col-md-5">
        <div class="col text-center "><h2 style="color: #1363DF;">JEE</h2>            <img src="~/logo/jee.png" class="img-rounded " style="width:70px;" /></div>
        <p>
            Vous êtes au bon endroit ! Ce cours est LE cours à suivre si vous débutez complètement en programmation.
            Vous allez apprendre Le framework EE (Java Entreprise Edition) est la version entreprise de la plate-forme "Java" qui se compose de l'environnement "JSE" ainsi que de nombreuses API et composant destiné à une utilisation "côté serveur"..
        </p>
    </div>
</div>